html {
  scroll-behavior: smooth;
  font-family: Arial, sans-serif;
}

.App {
  text-align: center;
}

main {
  background-color: #282c34;
  min-height: 90vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

nav {
  position: fixed;
  top: 0;
  width: 100%;
  background: rgba(255, 255, 255, 0.8);
  /* padding: 10px; */
  display: flex;
  justify-content: space-between;
  align-items: center;
  z-index: 10;

  a,
  h1 {
    text-decoration: none;
    color: #282c34;
    font-weight: bold;
    padding: 5px;
  }
  /* a:hover {
    color: #D9A48F;
  } */
  .hover-underline {
    position: relative;
  }
  
  .hover-underline::after {
    content: "";
    position: absolute;
    width: 0;
    height: 5px;
    bottom: 0;
    left: 0;
    background-color: #D9A48F;
    visibility: hidden;
    transition: all 0.5s ease-in-out;
  }
  
  .hover-underline:hover::after {
    visibility: visible;
    width: 100%;
  }
}

section {
  height: 100vh;
  width: 100vw;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

#welcome {
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  /* img {
    opacity: 0.7;
  } */
}

#about {
  background: #4A6651;
  color: #FFFFFF;
}

#gallery {
  background: #F5ECE4;
  color: #33312E;
}

#services {
  background: #8E8071;
  color: #FFFFFF;
}

#location {
  background: #FFF9F3;
  color: #5C5248;
}

#contacts {
  background: #D9A48F;
  color: #FFFFFF;
  button {
    background-color: #7A4E3A;
    color: #FFFFFF
  }
}

.map-container {
  height: 450px;
  width: 90%;
  z-index: 1;
}

.services-list {
  list-style-type: none;
  padding: 0;
  margin: 0;
  text-align: left;
  li {
    
    border: 2px solid #FFFFFF;
    border-radius: 10px;
    padding: 10px;
    margin: 10px;
  }
}


/* tablet/desktop */
@media screen and (min-width: 600px) {
  .title-left {
    justify-content: space-around;
    flex-direction: row;
  }

  .title-right {
    flex-direction: row-reverse;
    justify-content: space-around;
  }

  .map-container {
    width: 50%;
  }

  .services-list {
    display: grid;
    grid-template-columns: repeat(2, 1fr); 
  }
}


@media screen and (min-width: 1000px) {
  /* Navigation */

  .services-list {
    display: grid;
    grid-template-columns: repeat(2, 1fr); 
    justify-content: center;
  }
}


